*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $default-color;
}

.wrapper {
    width: 100%;
    height: auto;
}

main {
    padding-top: 60px;
}
