// color
$colorPrimary: #109d59;

$default-color: #484848;
$text-color: #696969;

$defaultColor: #484848;
$textColorPrimary: #696969;
$textColorSecondary: #969696;
$postUnderline: #e2e2e2;
$hoveredMenuColor: #14cb73;
