// Ini dihapus nanti kalau sudah webnya berjalan normal :)

// banner
.primdev-title {
  position: relative;
  top: 265px;
  text-align: center;
  z-index: 1;
  color: white;
  font-size: 41px;
  letter-spacing: 0px;
}

.primdev-sub-title {
    position: relative;
    top: 289px;
    text-align: center;
    z-index: 1;
    color: white;
    font-size: 30px;
}

.primdev-scroll-button {
  bottom: 28px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 48px;

  img {
    display: block;
    width: 100%;
  }
}
// banner


// quote
.kutipan-control{
  position: relative;
}

.kutipan-control-content {
  top: 125px;
  text-align: center;
  z-index: 1;
  color: white;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 30px;
  width: 70%;
  line-height: 50px;
}

.kutipan-hover {
  position: relative;
  top: 175px;
  text-align: center;
  z-index: 1;
  color: white;
  font-size: 27px;
  border: 3px solid white;
  width: 15%;
  border-radius: 13px;
  padding: 10px 0px 10px 0px;
  left: 0;
  cursor: pointer;
  right: 0;
  bottom: 0;
  margin: auto;
}

.kutipan-hover:hover{
  background: white;
  color: #109d59;
  transition: all 0.3s ease-in-out;
}
// quote


// content 1
.main-content{
  margin-top: 10%;
}

.link-text-decoration{
	text-decoration: none;
}

.box-big{
	height: 388px;
}

.box-mini{
	height: 194px;
}

.box-content-main {
  position: relative;
  overflow: hidden;
  width: 379px;
}

.box-content-main:hover > .image-box {
	transform: scale(1.1);
}

.image-box{
	width: 100%;
	height: auto;
  transform: scale(2);
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.box-gradient{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .7;
}

.gradient-color-1{
	background: linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);

}

.gradient-color-2{
	background: linear-gradient(135deg,rgba(244,208,63,.97) 0%,#f27a35 100%);

}

.gradient-color-3{
	background: linear-gradient(45deg,#d17646 0%,#c63939 100%);

}

.gradient-color-4{
	background: linear-gradient(135deg,#d760b7 0%,#3b78b4 100%);

}

.gradient-color-5{
	background: linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);

}

.gradient-color-6{
	background: linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);

}

.gradient-color-7{
	background: linear-gradient(135deg,#b0b43b 0%,rgba(145,96,81,.97) 100%);
}

.box-content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.title-box {
    padding: 20px 25px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.title-content-box {
    font-size: 9px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0px;
    padding: 8%;
}

.title-content-box:hover {
	background-color: rgba(0,0,0,1);
	transition: all 0.3s ease-in-out;
}

.box-mini-content {
    color: white;
    font-size: 16px;
    padding: 30px 25px;
    width: 313px;
    line-height: 30px;
}

.box-big-content {
    color: white;
    font-size: 30px;
    padding: 30px 25px;
    width: 275px;
    line-height: 50px;
}
// content





// ukm
.ukm-content {
  width: 544px;
  height: 368px;
  position: relative;
  overflow: hidden;
  border-radius: 26px;
  margin: auto auto 5% auto;
}
.ukm-control{
  text-align: center;
  padding-top: 5%;
}

.ukm-title {
    font-size: 24px;
    color: #484848;
    font-weight: bold;
    line-height: 60px;
}

.ukm-detail{
  font-size: 24px;
  color: #484848;
  font-weight: bold;
  margin-bottom: 5%;
}

.ukm-content-title {
  position: absolute;
  top: 180px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  z-index: 2;
  left: 0;
  right: 0;
}

.ukm-images{
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(2);
  transition: all 0.3s ease-in-out;
}

.gradient-primdev{
	 background: linear-gradient(135deg, #484848 0%, #000 100%);
}

.box-primdev{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .7;
}

.ukm-content a:hover > .ukm-images{
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}
