.headline {
    max-width: 100%;
    padding-top: 105px;
    padding-bottom: 60px;

    @media only screen and (max-width: 620px) {
        padding-bottom: 38px;
    }

    &__list {
        max-width: 100%;
        width: 1150px;
        margin: auto;
        column-gap: 0;
        column-fill: initial;

        @media only screen and (max-width: 1170px) {
            padding: 0 16px;
        }

        @media only screen and (min-width: 801px) {
        column-count: 3;
        }
    }
}

.headline__list__item {
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 180px;
    max-width: 100%;
    overflow: hidden;
    // padding: 10px;
    position: relative;
    transition: all .2s;
    width: 100%;
    -webkit-column-break-inside: avoid;
    -webkit-backface-visibility: hidden;
    margin-bottom: 0;
    backface-visibility: hidden;


    &__cover {
        position: absolute;
        transition: all ease-in-out .3s;
        display: block;
        height: auto;
        left: 50%;
        max-height: 133%;
        min-height: 100%;
        min-width: 100%;
        top: 50%;
        transform: translate(-50%,-50%) scale(1.15);
    }

    &__gradient:hover ~ &__cover {
        transform: translate(-50%,-50%) scale(1);
    }
    &__title:hover ~ &__cover {
        transform: translate(-50%,-50%) scale(1);
    }



    &__gradient {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        opacity: .7;
        text-decoration: none;
    }

    &__title {
        position: relative;
        color: white;
        font-weight: bold;
        z-index: 3;
        display: block;
        word-break: break-word;
        margin-top: 45px;
        margin-left: 22px;
        margin-right: 22px;
        text-transform: capitalize;
        text-decoration: none;

        @include excerpt(
            $font-size: 16px,
            $line-height: 1.3,
            $lines-to-show: 4,
            $excerpt-bg: transparent
        );
        &:hover {
            text-decoration: none;
        }
    }

    &__badge {
        position: absolute;
        background-color: #000;
        color: #fff;
        padding: 5px;
        bottom: 22px;
        left: 22px;
        z-index: 3;
        font-size: 10px;
        text-transform: uppercase;
        opacity: .5;
        transition: all ease-in-out .3s;
        text-decoration: none;
        &:hover {
            opacity: .7;
            text-decoration: none;
        }
    }
    &:first-child, &:last-child {
        height: 360px;
    }
    &:nth-child(1) &__gradient{
        background: linear-gradient(45deg, #4db2ec, #4a8f5e);
    }
    &:nth-child(2) &__gradient{
        background: linear-gradient(to right, #e4cb2b, #f2b88a);
    }
    &:nth-child(3) &__gradient{
        background: linear-gradient(to right, #b6544d, #af845e);
    }
    &:nth-child(4) &__gradient{
        background: linear-gradient(to right, #81319c, #456392);
    }
    &:nth-child(5) &__gradient{
        background: linear-gradient(to right, #52b9d7, #54c28d);
    }
    &:nth-child(6) &__gradient{
        background: linear-gradient(to right, #3ea2a9, #3dab69);
    }
    &:nth-child(7) &__gradient{
        background: linear-gradient(to right, #a3931e, #e6c86b);
    }
    &:nth-child(1) &__title {
        @media only screen and (min-width: 621px) {
            @include excerpt(
                $font-size: 30px,
                $line-height: 1.3,
                $lines-to-show: 6,
                $excerpt-bg: transparent
            );
        }

        @media only screen and (min-width: 531px) and (max-width: 620px) {
            @include excerpt(
                $font-size: 26px,
                $line-height: 1.3,
                $lines-to-show: 6,
                $excerpt-bg: transparent
            );
        }
    }
    &:nth-child(7) &__title {
        @media only screen and (min-width: 801px) {
            @include excerpt(
                $font-size: 30px,
                $line-height: 1.3,
                $lines-to-show: 6,
                $excerpt-bg: transparent
            );
        }
    }
    &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(7) {
        margin-top: -4px;
    }
}

@media only screen and (max-width: 1010px) {

}

@media only screen and (max-width: 800px) {
    .headline__list__item {
        &:nth-child(4) {
            margin-top: 0px;
        }

        &:nth-child(7) &__title {
            font-size: 16px;
        }
        &:nth-child(3), &:nth-child(6) {
            margin-top: -4px;
        }
        &:last-child {
            height: 180px;
        }
    }
}

@media only screen and (min-width: 531px) and (max-width: 800px) {
    .headline__list {
        column-count: 2 !important;
    }
}

@media only screen and (max-width: 530px) {
    .headline__list__item {
        &:nth-child(4) {
            margin-top: -4px;
        }
        &:nth-child(1) {
            height: 180px;
        }

    }
}
@media only screen and (min-width: 321px) and (max-width: 530px) {
    .headline__list__item {
        &:nth-child(1) &__title{
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .headline__list__item {
        &:not(:first-child) {
            margin-top: -2px;
        }
    }
}
@media only screen and (max-width: 320px) {
    .headline__list__item {
        &__title {
            font-size: 14px !important;
        }
    }
}
