.headline {
	max-width: 100%;
	padding-top: 105px;
	padding-bottom: 105px;
	&__list {
		max-width: 100%;
		width: 1150px;
		margin: auto;
		padding: 13px;
		column-gap: 0;
		column-fill: initial;

		@media only screen and (min-width: 801px) {
		column-count: 3;	
		}
	}
}

.headline__list__item {
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 180px;
	max-width: 100%;
	overflow: hidden;
	// padding: 10px;
	position: relative;
	transition: all .2s;
	width: 100%;
  -webkit-column-break-inside: avoid;
  -webkit-backface-visibility: hidden;
  margin-bottom: 0;
 	backface-visibility: hidden;


	&__cover {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		transition: all ease-in-out .3s;
		transform: scale(1.3);
	}
	
	&__gradient:hover ~ &__cover {
		transform: scale(1);
	}
	&__title:hover ~ &__cover {
		transform: scale(1);
	}


	
	&__gradient {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
		opacity: .7;
	}

	&__title {
		position: relative;
		color: white;
		font-weight: bold;
		z-index: 3;
		display: block;
		line-height: 1.3;
		word-break: break-word;
		padding-top: 45px;
		padding-left: 22px;
		padding-right: 22px;
		font-size: 16px;
		text-transform: capitalize;
	}

	&__badge {
		position: absolute;
		background-color: #000;
		color: #fff;
		padding: 5px;
		bottom: 22px;
		left: 22px;
		z-index: 3;
		font-size: 10px;
		text-transform: uppercase;
		opacity: .5;
		transition: all ease-in-out .3s;
		&:hover {
			opacity: .7;
		}
	}
	&:first-child, &:last-child {
		height: 360px;
	}
	&:nth-child(1) &__gradient{
		background: linear-gradient(45deg, #4db2ec, #4a8f5e);
	}
	&:nth-child(2) &__gradient{
		background: linear-gradient(to right, #e4cb2b, #f2b88a);
	}
	&:nth-child(3) &__gradient{
		background: linear-gradient(to right, #b6544d, #af845e);
	}
	&:nth-child(4) &__gradient{
		background: linear-gradient(to right, #81319c, #456392);
	}
	&:nth-child(5) &__gradient{
		background: linear-gradient(to right, #52b9d7, #54c28d);
	}
	&:nth-child(6) &__gradient{
		background: linear-gradient(to right, #3ea2a9, #3dab69);
	}
	&:nth-child(7) &__gradient{
		background: linear-gradient(to right, #a3931e, #e6c86b);
	}
	&:nth-child(1) &__title, &:nth-child(7) &__title {
		font-size: 30px;
	}
	&:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(7) {
		margin-top: -4px;
	}
}

@media only screen and (max-width: 1010px) {
		
}

@media only screen and (max-width: 800px) {
	.headline__list__item {
		&:nth-child(4) {
			margin-top: 0px;
		}

		&:nth-child(7) &__title {
			font-size: 16px;
		}
		&:nth-child(3), &:nth-child(6) {
			margin-top: -4px;
		}
		&:last-child {
			height: 180px;
		}
	}
}

@media only screen and (min-width: 531px) and (max-width: 800px) {
	.headline__list {
		column-count: 2 !important;
	}
}

@media only screen and (max-width: 530px) {
	.headline__list__item {
		&:nth-child(4) {
			margin-top: -4px;
		}
		&:nth-child(1) {
			height: 180px; 
		}
		
	}
}
@media only screen and (min-width: 321px) and (max-width: 530px) {
	.headline__list__item {
		&:nth-child(1) &__title{
			font-size: 16px;
		}
	}
}

@media only screen and (max-width: 500px) {
	.headline__list__item {
		&:not(:first-child) {
			margin-top: -2px;
		}
	}	
}
@media only screen and (max-width: 320px) {
	.headline__list__item {
		&__title {
			font-size: 14px !important;
		}
	}
}