// informationsection

.information-section{
    width: 1150px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 1%;
    overflow: hidden;
    margin-bottom: 7%;

    @media screen and (max-width: 800px) {
        width: 100%;
    }

    @media screen and (max-width: 530px) {
        width: 100%;
        padding: 8px;
    }

    // Part of tag title

    &__tag{
        margin-bottom: 2%;

        &--title{
          padding: 1%;
          background: #109d59;
          color: white;
          font-size: 17px;
          font-weight: bold;
          width: 100%;
          height: auto;
          display: inline;

          @media screen and (max-width: 520px) {
            font-size: 18px;
            background: #ffff;
            color: #109d59;
          }

          @media screen and (max-width: 420px){
            background: #ffff;
            color: #109d59;
          }
          @media screen and (max-width: 360px) {
                font-size: 16px;
            }
        }

        &--next{
        float: right;
        color: #109d59;
        font-size: 15px;
        padding-bottom: 5px;
            @media screen and (max-width: 530px) {
                padding-right: 5px;
            }
            

            &:hover{
                color: #0e8f51;
                @media screen and (max-width: 320px) {
                    border: none;
                }
            }

        }

        &--remove{
            float: left;
            @media screen and (max-width: 520px) {
                display: none;
            }
        }

        &--box{
            float: left;

            &--arrow{
                border-right: 1px solid #969696;
                border-top: 1px solid #969696;
                display: block;
                height: 2px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                width: 2px;
                float: right;
                margin-top: 2px;
                margin-left: 5px;
                padding: 5px;
                border-color: #109d59;
              }
      
              &--second-arrow{
                  display: none;
                  @media screen and (max-width: 520px) {
                      display: inline;
                      margin-right: -10px;
                  }
                  
              }
        }

            
        

        
        
        &--border{
        border-bottom: 2px solid #109d59;
        width: 100%;
        height: 12px;
        display: block;

            @media screen and (max-width: 800px){
                height: 7px;
                margin-bottom: 5%;
            }


            @media screen and (max-width: 530px) {
                height: 6px;
            }

            @media screen and (max-width: 520px) {
                display: none;
            }

            @media screen and (max-width: 320px) {
                display: none;
            }
        }
        @media screen and (max-width: 520px) {
            margin-bottom: 4%;
        }
    }
    // end Part of tag title

    &__column{
        width: 25%;
        float: left;
        padding-right: 10px;

        &__box{
            color: #494949;

            &:hover{
                transition: all 0.3s ease-in-out;
                color: #109d59;
            }

            &__images{
                width: 100%;
                display: block;
                height: 178px;
                position: relative;
                overflow: hidden;
                
                & img{
                    width: 100%;
                    -webkit-transform: scaleX(1.1);
                    transform: scaleX(1.1);
                }
    
                @media screen and (max-width: 1070px) {
                    width: 100%;
                }
    
                @media screen and (max-width: 800px) {
                    width: 100%;
                    height: 280px;
                }
    
                @media screen and (max-width: 530px) {
                    width: 100%;
                    height: 280px;
                }
    
            }
    
            &__title{
                font-size: 16px;
                font-weight: bold;
                width: 100%;
                margin-top: 3%;
                line-height: 22px;
                
                @media screen and (max-width: 1070px) {
                    width: 100%;
                }
    
                @media screen and (max-width: 800px) {
                    width: 100%;
                }
    
                @media screen and (max-width: 560px) {
                    margin-top: -3%;
                }
    
                @media screen and (max-width: 530px) {
                    width: 100%;
                    font-size: 18px;
                    margin-top: 2%;
                }
    
                @media screen and (max-width: 360px) {
                    font-size: 16px;
                }
    
                @media screen and (max-width: 320px) {
                    font-size: 16px;
                }
    
            }
        }

        

        &__detail{
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
  
            font-weight: lighter;
            font-size: 14px;
            color: #696969;
            margin-top: 3%;
            width: 100%;
            line-height: 20px;

            @media screen and (max-width: 1070px) {
                width: 100%;
            }

            @media screen and (max-width: 800px) {
                width: 93%;
            }

            @media screen and (max-width: 530px) {
                width: 100%;
                font-size: 14px;
                line-height: 22px;
            }

            @media screen and (max-width: 360px) {
                font-size: 12px;
            }

            @media screen and (max-width: 320px) {
                font-size: 12px;
            }
            
        }

        &__date{
            margin-top: 3%;
            margin-bottom: 10%;

            &__author{
                font-size: 12px;
                color: #109d59;
                font-weight: bold;
                width: 90%;
            }

            &__detail{
                font-size: 12px;
                color: $text-color;
            }

            @media screen and (max-width: 530px) {
                margin-bottom: 10%;
            }

            @media screen and (max-width: 320px) {
                margin-bottom: 14%;
            }

        }
        @media screen and (max-width: 1070px) {
            padding: 0 2px;
        }

        @media screen and (max-width: 800px) {
            width: 50%;
            padding-right: 10px;
        }
        @media screen and (max-width: 530px) {
            width: 100%;
            padding: 0;
        }
    }

}

// information