.subscription{
	position: relative;
	width: 100%;
	max-width: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 155px 0 155px 0;

	&__content{
		width: 985px;
		max-width: 100%;
		margin-left: auto;
    	margin-right: auto;
    	color: #fff;
    	text-align: center;

    	&__title{
    		margin-bottom: 55px;
    		font-size: 1.8em;
    		line-height: 2em;
    		z-index: 2;
			position: relative;
    	}

    	&__btn-wrapper__btn{
    		border: 2px solid #fff;
			padding: 13px 25px 13px 25px;
			color: #fff;
			border-radius: 15px;
			font-size: 27px;
			z-index: 2;
			position: relative;

			&:hover{
				background-color: #fff;
				color: #000;
				transition: 0.3s all;
			}
    	}

    	&__gradient{
    		position: absolute;
			background: rgba(0, 0, 0, 1);
			width: 100%;
			height: 100%;
			opacity: 0.7;
			top: 0;
			left: 0;
			z-index: 1;
    	}
    }

    @media screen and (max-width: 530px) {
    	&__content{
    		padding-left: 10px;
			padding-right: 10px;
    	}

    	&__content__title{
    		font-size: 2.5em;	
    	}

    	&__content__btn-wrapper__btn{
    		font-size: 24px;
    	}
    }

    @media screen and (max-width: 800px) {
    	&__content{
    		padding-left: 20px;
			padding-right: 20px;
    	}
    }	
}