.container-fluid{
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 1%;
  overflow: hidden;
  margin-bottom: 7%;
}

@media screen and (min-width: 1137px) {
  .container-fluid{
    width: 1137px;
  }
}

.container{
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  overflow: hidden;
}
.col-1 {
  width: 8.33%;
  float: left;
}


.col-2 {
  width: 16.66%;
  float: left;
}

@media screen and(max-width: 1015px){
    .col-2{
      width: 50%;
    }

    .col-1{
      display: none;
    }
}


.col-3 {
  width: 25%;
  float: left;
}

@media screen and(max-width: 1015px){
  .col-3{
    width: 50%;
  }
}

@media screen and(max-width: 768px){
  .col-3{
    width: 100%;
  }
}

.col-4 {
  width: 33.33%;
  float: left;
}

@media screen and (max-width: 1015px){
  .col-4{
    width: 50%;
  }
}


@media screen and (max-width: 600px){
  .col-4{
    width: 100%;
  }
}


.col-5 {
  width: 41.66%;
  float: left;
}

@media screen and (max-width: 1015px){
  .col-5{
    width: 100%;
  }
}


.col-6 {
  width: 50%;
  float: left;
}

@media screen and (max-width: 1015px){
  .col-6{
    width: 100%;
  }
}


.col-7 {
  width: 58.33%;
}


.col-8 {
  width: 66.66%;
  float: left;
}


.col-9 {
  width: 75%;
}


.col-10 {
  width: 83.33%;
}


.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
  float: left;
}


@media screen and (max-width: 1000px) {
  * {
    font-size: 1em;
  }
}


@media screen and (max-width: 500px) {
  * {
    font-size: 0.9em;
  }
}

// .parallax4{
//   background-image: url(../assets/parallax4.jpg);
//   height: 425px;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .parallax3{
//   background-image: url(../assets/parallax3.jpg);
//   height: 425px;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
.parallax2{
  background-image: url(/images/bg-bg.jpeg);
  height: 498px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1{
  background-image: url(/images/bege.jpeg);
  height: 638px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient{
  position: absolute;
  background: linear-gradient(45deg, #696969 0%, #000000 100%);
  width: 100%;
  height: 100%;
  opacity: 0.7;
}


.gradient-search{
  position: absolute;
  background: #484848;
  width: 291px;
}



// TESTING AJA
