.related-posts{
    width: 100%;
    margin-top: 62px;
    margin-bottom: 52px;
    padding: 18px 0;
    background-color: #fafafa;

    &--container{
        max-width: 1150px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        padding: 1%;
        overflow: hidden;

        @media screen and (max-width: 530px) {
            padding: 4%;
        }

        &__column{
            width: 25%;
            float: left;
            margin-right: 51px;

            @media screen and (max-width: 800px) {
                margin-right: 22px;
                width: 30%;
            }

            @media screen and (max-width: 673px) {
                width: 45%;
            }

            @media screen and (max-width: 530px) {
                width: 100%;
            }

            & a{
                text-decoration: none;
            }

            &__link{
                color: #494949;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:hover{
                    color: $colorPrimary;
                }

                &__images{
                    width: 100%;
                    display: block;
                    height: 185px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 12px;

                    @media screen and (max-width: 1070px) {
                        width: 100%;
                    }
        
                    @media screen and (max-width: 800px) {
                        width: 100%;
                    }

                    @media screen and (max-width: 702px) {
                        height: 160px;
                    }
        
                    @media screen and (max-width: 800px) {
                        width: 100%;
                    }

                    @media screen and (max-width: 530px) {
                        height: 230px;
                    }

                    & img{
                        width: 100%;
                        -webkit-transform: scaleX(1.1);
                        transform: scaleX(1.1);
                    }

                }

                &__title{
                    font-size: 16px;
                    font-weight: bold;
                    width: 100%;
                    margin-top: 3%;
                    line-height: 22px;
                    text-transform: capitalize;

                    @media screen and (max-width: 950px) {
                        font-size: 14px;
                    }

                    @media screen and (max-width: 530px) {
                        font-size: 18px;
                    }
                }
            }
            &__date{
                margin-top: 3%;
                &__author{
                    font-size: 12px;
                    color: #109d59;
                    width: 90%;
                    text-transform: capitalize;
                }
                &__detail{
                    font-size: 12px;
                    color: #696969;
                    text-transform: capitalize;
                }

                @media screen and (max-width: 673px) {
                    margin-bottom: 8%;
                }
                @media screen and (max-width: 530px) {
                    font-size: 14px;
                }
            }

            
        }
    }
}