// footer
  
  .footer{
    &--border{
      border: 3px solid #109d59;
    }

    &--container{
      width: 100%;
      height: auto;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      overflow: hidden;
      padding: 15px;

      &--logo{
        width: 33.33%;
        float: left;

        &--first{
          height: 50px;
        }
        &--second{
          height: 85px;
          margin-bottom: 5%;
        }
      }
  
      &--information{
        width: 33.33%;
        float: left;

        &--title{
          font-size: 22px;
          color: #109d59;
          font-weight: bold;
          margin-bottom: 10px;
        }
        &--list a{
          font-size: 22px;
          color: #109d59;
          line-height: 35px;
        }
      }

      &--about{
        width: 33.33%;
        float: left;

        &--detail{
          font-size: 16px;
          color: #696969;
          line-height: 30px;
          width: 470px;

          &--title{
            font-size: 22px;
            color: #109d59;
            font-weight: bold;
            margin-bottom: 10px;
          }
        }
      }
    }
    
    @media screen and (min-width: 1137px){
      &--container{
        width: 1137px;
        
      }
    }
  }

  .footer-bottom{
    &--container{
      width: 100%;
      height: auto;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      overflow: hidden;

      &--copyright{
        text-align: center;
        padding: 1%;
        background: #109d59;
        color: white;
        font-size: 14px;
      }
    }
  }
