.active {
    background: #109d59;
    color: White !important;
}

  // navbar
  @media screen and (min-width: 1137px){
    .container-navbar{
      width: 1137px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .logo-primdev{
    padding: 1% 1% 1% 0%;
    display: block;
  }
  .logo-primdev img {
      height: 45px;
      margin-top: 3px;
  }
  .menu-primdev {
      text-align: right;
      padding: 22px 0px 20px 0px;
  }

  .menu-primdev-link{
    font-size: 16px;
    font-weight: bold;
    color: #109d59;
    margin-left: 36px;
    padding: 12px 10px 12px 10px;
    border-radius: 13px;
  }

  .menu-primdev-link:hover{ 
    transition: all 0.3s ease-in-out;
    background: #109d59;
    color: White !important;
  }

  a {
      text-decoration: none;
  }

  .menu-primdev-button {
      vertical-align: middle;
  }
  // navbar
