.pagination{
    max-width: 1150px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-top: 65px;
    margin-left: auto;

    @media only screen and (max-width: 800px) {
        margin-bottom: 40px;
        margin-top: 25px;
    }

    &__block{
        display: inline-block;
        width: 100%;

        @media screen and (max-width: 1170px) {
            padding: 0 16px;
        }

        &__number{
            color: black;
            font-size: 18px;
            float: left;
            color: $colorPrimary;
            padding: 8px 12px;
            margin-right: 14px;
            text-align: center;
            text-decoration: none;
            border-radius: 8px;
            transition: all 0.3s ease-in-out;

            @media screen and (max-width: 420px) {
                margin-right: 8px;
                font-size: 12px;
            }

            &--dots{
                transform: translateY(-4px);
                display: block;
            }

            &--only{
                padding: 8px 15px;
            }

            &--active{
                background-color: $colorPrimary;
                color: white;
                border-radius: 8px;
            }

            &:hover{
                background-color: $colorPrimary;
                color: #fff;
            }
        }

    }
}
