.site-header {
    background: #ffffff;
    box-shadow: rgba(40, 40, 40, 0.15) 0px 5px 50px;
    height: 60px;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    z-index: 999;

    @media only screen and (max-width: 530px) {
        padding: 10px 16px;
    }

    &__container {
        height: 100%;
        margin: auto;
        max-width: 1150px;
        position: relative;
    }

    &__logo {
        height: 100%;
    }

    &__menu-desktop {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @media only screen and (max-width: 530px) {
            display: none;
        }
    }

    &__menu-desktop-item {
        color: $textColorSecondary;
        display: inline-block;
        font-size: 18px;
        margin-right: 62px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        vertical-align: middle;

        &:last-child {
            margin-right: 0;
        }

        &:hover, &--active {
            color: $colorPrimary;
        }

        &--with-background {
            background: $colorPrimary;
            border-radius: 10px;
            color: #ffffff;
            padding: 10px;

            &:hover, &--active {
                background: #14cb73;
                color: #ffffff;
            }
        }
    }

    &__menu-mobile-icon {
        height: 24px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;

        @media only screen and (min-width: 531px) {
            display: none;
        }

        &::before, &__middle, &::after {
            background: $colorPrimary;
            border-radius: 3px;
            height: 3px;
            position: absolute;
            width: 100%;
        }

        &::before, &::after {
            content: '';
            left: 0;
        }

        &::before {
            top: 0;
        }

        &__middle {
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            bottom: 0;
        }
    }
}
