.post {
    margin-top: 24px;
    max-width: 100%;
    &__heading {
        max-width: 1150px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @media only screen and (max-width: 1150px) {
            padding: 0 16px;
        }

        &__title {
            margin-top: 0;
        }
    }
    &__title {
        padding: 25px 0;
    }
    &__list {
        margin-left: auto;
        margin-right: auto;
        max-width: 1150px;
        width: 100%;
        @media only screen and (max-width: 1150px) {
            padding: 0 16px;
        }
    }
}
.post__list__item {
    max-width: 100%;
    padding: 25px 0;
    display: inline-block;
    @media only screen and (max-width: 600px) {
        padding: 20px 0;
    }

    &:last-child {
        padding-bottom: 0;
    }

    &__left {
        display: inline-block;
        height: 180px;
        width: 275px;
        overflow: hidden;
        border-radius: 10px;
        @media only screen and (max-width: 380px) {
            width: 100%;
        }
    }

    &__image {
        width: 100%;
    }

    &__hoverable {
        text-decoration: none;
        color: $text-color;
    }

    &__writter {
        color: $colorPrimary;
        font-size: 14px;

        @media only screen and (max-width: 620px) {
            font-size: 12px;
        }
    }

    &__timestamp {
        font-size: 14px;
        color: $textColorSecondary;

        @media only screen and (max-width: 620px) {
            font-size: 12px;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        text-decoration: none;
    }

    &__left:hover ~ &__right &__title {
        color: $colorPrimary;
    }

    &__hoverable:hover &__title {
        color: $colorPrimary;
    }

    &__preview {
        line-height: 1.5;
        margin-bottom: 5px;
        margin-top: 10px;
        @include excerpt(16);

        @media only screen and (max-width: 620px) {
            font-size: 13px;
        }
        @media only screen and (max-width: 600px) {
            margin-top: 5px;
        }
    }

    &__right {
        max-width: 467px;
        margin-left: 20px;
        display: inline-block;
        vertical-align: top;
        @media only screen and (min-width: 620px) and (max-width: 800px) {
            max-width: calc(100% - (275px + 25px));
        }
        @media only screen and (max-width: 600px) {
            margin-left: 0;
            margin-top: 8px;
        }
    }

    &__badge {
        background-color: $colorPrimary;
        padding: 5px;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
        margin-top: 5px;
        transition: all ease-in-out 0.3s;

        &:hover {
            background-color: $hoveredMenuColor;
        }
        @media only screen and (max-width: 620px) {
            font-size: 12px;
        }
    }
    &:not(:last-child) {
        @media only screen and (min-width: 600px ) {
            border-bottom: 1px solid $postUnderline;
        }
    }

}
